.auth-header {
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:
    calc(10px + env(safe-area-inset-top))
    20px
    10px;

  &__right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 4px;

    p {
      margin: 0;
      font-size: 18px;
      font-weight: 400;
      color: #000000;
    }

    a {
      padding: 8px 16px;
      color: #797ef3;
      font-size: 18px;
      text-decoration: none;
      border: 1px solid transparent;
      border-radius: 25px;
      cursor: pointer;

      &:hover {
        font-weight: 600;
        color: #444df2;
        border-color: #adb0d9;
      }
    }
  }
}

@media (max-width: 1024px) {
  .auth-header {
    justify-content: center;
    padding:calc(16px + env(safe-area-inset-top)) 20px 8px;
  }

  .auth-header__right {
    display: none;
  }

  .logo img {
    width: 170px;
    height: auto;
  }
}