<div class="chat-header">
  <div class="chat-header__left">
    @if (directMessageService.currentDmUser(); as dmUser){
    <div class="chat-header__dm-user" (click)="openShowProfilDialog()">
      <div class="chat-header__avatar-wrapper">
        <img [src]="dmUser.avatar" [alt]="dmUser.name" />

        <span class="chat-header__status" [class.chat-header__status--online]="dmUser.status === 'online'"
          [class.chat-header__status--offline]="dmUser.status === 'offline'"></span>
      </div>

      <span class="chat-header__title">
        {{ dmUser.name }}
      </span>
    </div>

    } @else {
    <div class="chat-header__title">
      <span class="chat-header__hash"># </span>
      <span class="chat-header__title">{{ channelService.currentChannel()?.name ||
        'Kein Kanal ausgewählt' }} </span>
      @if(!authService.isGuestUser()){
        <svg  (click)="openChannelSettingsDialog()"
      class="chat-header__arrow"
      width="14"
      height="9"
      viewBox="0 0 14 9"
      xmlns="http://www.w3.org/2000/svg">
    
      <path
        d="M7 8.1875C6.83259 8.1875 6.67061 8.15625 6.51408 8.09375C6.35671 8.03125 6.22571 7.94792 6.12108 7.84375L0.345291 2.09375C0.115097 1.86458 0 1.57292 0 1.21875C0 0.864583 0.115097 0.572916 0.345291 0.34375C0.575485 0.114583 0.86846 0 1.22422 0C1.57997 0 1.87294 0.114583 2.10314 0.34375L7 5.21875L11.8969 0.34375C12.1271 0.114583 12.42 0 12.7758 0C13.1315 0 13.4245 0.114583 13.6547 0.34375C13.8849 0.572916 14 0.864583 14 1.21875C14 1.57292 13.8849 1.86458 13.6547 2.09375L7.87892 7.84375C7.75336 7.96875 7.61734 8.05708 7.47085 8.10875C7.32436 8.16125 7.16741 8.1875 7 8.1875Z"/>
    </svg>
      }
    </div>
    }
  </div>

  @if (directMessageService.currentDmUser(); as dmUser){

  } @else {

  <div class="chat-header__right">
    <div class="chat-header__members" (click)="openMemberListDialog()">
      @for(member of channelService.channelMembers(); track member.id){
      <img [src]="member.avatar" [alt]="member.name">
      }
      <span class="chat-header__member-count">{{channelService.channelMembers().length}}</span>
    </div>
    @if(!authService.isGuestUser()){
      <button class="chat-header__add-member" type="button" (click)="openDialog()">
        <img src="assets/logo/person_add.png" alt="Mitglied hinzufügen" />
      </button>
    }
  </div>
  }
</div>