<header class="header">
  <div class="header__top">
    <div class="header__logo">
      <img src="assets/img/header/header_logo.png" alt="DABubble Logo" />
    </div>

<div class="header__search">
  <input
    type="text"
    placeholder="Devspace durchsuchen"
    [value]="searchText()"
    (focus)="openSearch()"
    (input)="onSearchInput($event)"
  />

  <img src="assets/icons/search.png" alt="search icon" />

  @if (isSearchOpen()) {
    <div class="header__search-dropdown">
      @for (user of filteredUsers(); track user.id) {
        <button
          class="header__search-user"
          type="button"
          (click)="selectUser(user)"
        >
          <div class="header__search-avatar">
            <img [src]="user.avatar" [alt]="user.name" />

            <span
              class="header__search-status"
              [class.header__search-status--online]="user.status === 'online'"
            ></span>
          </div>

          <span>{{ user.name }}</span>
        </button>
      }

      @if (filteredUsers().length === 0) {
        <p class="header__search-empty">
          Keine Benutzer gefunden.
        </p>
      }
    </div>
  }
</div>

    <div class="header__user">
      <span class="header__username">
        {{ auth.currentUserProfile()?.name }}
      </span>

      <div class="header__avatar-wrapper" (click)="toggleUserMenu()">
        <img [src]="auth.currentUserProfile()?.avatar" alt="User avatar" />
        <span class="header__status" [class.online]="auth.currentUserProfile()?.status === 'online'"
          [class.offline]="auth.currentUserProfile()?.status === 'offline'"></span>
      </div>

      <span class="header__arrow" (click)="toggleUserMenu()">⌄</span>

      @if (isUserMenuOpen) {
      <app-user-menu (ProfileClick)="openProfileMenu()" (LogoutClick)="logout()" />
      }
      @if (isProfileMenuOpen) {
      <app-profile-dialog (openEditProfileDialogEvent)="openEditProfileDialog()" (closeDialog)="closeProfileMenu()" />
      }
      @if(isEditProfileDialogOpen) {
      <app-edit-profile-dialog (closeDialogEvent)="closeEditProfileDialog()" />
      }
    </div>
  </div>
</header>