.user-menu {
  position: absolute;
  top: 72px;
  right: 0;
  z-index: 20;

  display: flex;
  flex-direction: column;
  gap: 16px;

  width: 280px;
  padding: 32px 24px;

  background-color: white;
  border-radius: 30px 0 30px 30px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.18);

  button {
    border: none;
    background: transparent;
    padding: 10px 24px;

    font-size: 24px;
    font-weight: 600;
    color: black;
    cursor: pointer;
    border-radius: 999px;

    &:hover {
      background-color: #eceefe;
      color: #535af1;
    }
  }
}