/* You can add global styles to this file, and also import other style files */
@import "bootstrap/scss/bootstrap";
@import '@ctrl/ngx-emoji-mart/picker';
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
}

body {
  background-color: #eceefe;
}

app-root {
  display: block;
  min-height: 100dvh;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}