.message-wrapper {
  position: relative;
  width: 100%;
  margin-bottom: 24px;

  &:hover {
    .message {
      background-color: #eceefe;
    }

    .message-actions {
      opacity: 1;
      visibility: visible;
    }

    .message:not(.message--own) {
      .message__bubble {
        background-color: white;
        color: black;
      }
    }
  }
}

.message-actions-container {
  position: absolute;
  top: -20px;
  right: 48px;
  display: flex;
  justify-content: flex-end;
  z-index: 20;
  &--own {
    left: 48px;
    right: auto;

    .message-actions {
      border-radius: 28px 28px 28px 0;
    }
  }
}

.message {
  display: flex;
  width: 100%;
  align-items: flex-start;
  gap: 16px;
  padding: 10px 0px;
  &--own {
    flex-direction: row-reverse;

    &:hover {
      background-color: #eceefe;
    }

    .message__content {
      align-items: flex-end;
    }

    .message__meta {
      flex-direction: row-reverse;
    }

    .message__bubble {
      background: #797ef3;
      color: white;
      border-radius: 20px 0 20px 20px;
    }

    .message-reactions {
      justify-content: flex-end;
    }
  }

  &__avatar {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    flex-shrink: 0;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: 540px;
  }

  &__meta {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &__author {
    font-size: 18px;
    font-weight: 700;
  }

  &__time {
    font-size: 14px;
    color: #686868;
  }

  &__bubble {
    background: #eceefe;
    padding: 16px 20px;
    border-radius: 0 20px 20px 20px;
    font-size: 18px;
    line-height: 1.4;
    width: fit-content;
    cursor: pointer;
  }
    &__thread {
    background: transparent;
    border: none;
    color: #535af1;
    cursor: pointer;
    width: fit-content;

    &:hover {
      text-decoration: underline;
    }
  }
}

.message-actions {
  display: flex;
  align-items: center;
  gap: 12px;

  padding: 10px 18px;

  background: white;
  border: 1px solid #adb0d9;
  border-radius: 28px 28px 0 28px;

  opacity: 0;
  visibility: hidden;

  z-index: 10;
}

.message-actions__button {
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 22px;
  &:hover{
    background-color:#ECEEFE;
    border-radius: 20px;
  }
}

.message-reactions {
  display: flex;
  gap: 8px;
  margin-top: 8px;
}

.message-reactions__button {
  display: flex;
  align-items: center;
  gap: 6px;
  border: 1px solid #adb0d9;
  background: white;
  border-radius: 20px;
  padding: 4px 10px;
  cursor: pointer;
}

.message-reactions__button--active {
  background: #eceefe;
  border-color: #444df2;
}