.sidebar {
  width: 280px;
  height: 100%;
  min-height: 0;
  background: #ffffff;
  border-radius: 30px;
  padding: 24px 16px;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 32px;
    padding: 8px 8px 0;
    flex-shrink: 0;
  }

  &__item--active {
    background: #eceefe;
    color: #535af1;
    font-weight: 700;
  }

  &__workspace-info {
    display: flex;
    align-items: center;
    gap: 12px;

    span {
      font-size: 18px;
      font-weight: 700;
      color: #000000;
    }
  }

  &__workspace-logo {
    width: 48px;
    height: 48px;
    object-fit: contain;
  }

  &__edit-btn {
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: none;
  border-radius: 50%;
  background: transparent;
  cursor: pointer;
  transition: background-color 0.2s ease;
  
    &:hover {
      background-color: #eceefe;
    }
    &:hover img {
        filter: invert(38%) sepia(93%) saturate(2113%)
    hue-rotate(222deg) brightness(96%) contrast(96%);
    }
  }

  &__section {
    margin-bottom: 32px;
    display: flex;
    flex-direction: column;
    min-height: 0;
  }

  &__section-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
    padding: 0 8px;
    flex-shrink: 0;
  }

  &__section-left {
  display: flex;
  align-items: center;
  gap: 10px;
  background: transparent;
  cursor: pointer;

  img {
    width: 20px;
    height: 20px;
    transition: filter 0.2s ease;
  }

  strong {
    font-size: 16px;
    font-weight: 700;
    color: #000000;
    transition: color 0.2s ease;
  }

  &:hover {
    strong {
      color: #535af1;
    }

    img {
      filter: invert(38%) sepia(93%) saturate(2113%)
        hue-rotate(222deg) brightness(96%) contrast(96%);
    }
  }
  }

  &__chevron {
    display: inline-block;
    cursor: pointer;
    transition: transform 0.2s ease;

    > img {
      width: 10px;
      height: auto;
    }

    &--closed {
      transform: rotate(-90deg);
    }
  }

  &__add-btn {
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: none;
  border-radius: 50%;
  background: transparent;
  cursor: pointer;
  transition: background-color 0.2s ease;
  
    &:hover {
      background-color: #eceefe;
    }
    &:hover img {
        filter: invert(38%) sepia(93%) saturate(2113%)
    hue-rotate(222deg) brightness(96%) contrast(96%);
    }
  }

  &__list,
  &__dm-list {
    list-style: none;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-color: #adb0d9 transparent;

    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background: #adb0d9;
      border-radius: 10px;
    }
  }

  &__list {
    max-height: 300px;
    overflow-y: auto;
    padding-right: 4px;
  }

  &__channel {
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 8px;
    margin-left: 20px;
    margin-top: 8px;
    padding: 6px 16px;
    border-radius: 20px;
    font-size: 15px;
    cursor: pointer;

    &--active {
      background: #eceefe;
      color: #535af1;
      font-weight: 700;
    }

    &:hover {
      background: #eceefe;
      color: #535af1;
    }
  }

  &__add-channel {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 18px 0 0 34px;
    font-size: 14px;
    color: #535af1;
    cursor: pointer;
    &:hover {
      font-weight: 700;
    }
  }

  &__dm-list {
    max-height: 360px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    overflow-y: auto;
    padding-right: 4px;
  }

  &__dm-item {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 4px 8px 4px 24px;
    border-radius: 24px;
    font-size: 15px;
    cursor: pointer;

    &:hover {
      background: #eceefe;
      color: #535af1;
      font-weight: 700;
    }
  }

  &__avatar-wrapper {
    position: relative;
    width: 42px;
    height: 42px;
    flex-shrink: 0;

    img {
      width: 42px;
      height: 42px;
      border-radius: 50%;
      object-fit: cover;
      display: block;
    }
  }

  &__status {
    position: absolute;
    right: 0;
    bottom: 1px;
    width: 11px;
    height: 11px;
    border: 2px solid #ffffff;
    border-radius: 50%;
  }

  .online {
    background: #92c83e;
  }

  .offline {
    background: #686868;
  }
}

@media (max-width: 991px) {
  .sidebar {
    display: block;

    &__list {
      max-height: 260px;
    }

    &__dm-list {
      max-height: 320px;
    }
  }
}