<aside class="sidebar">
  <div class="sidebar__header">
    <div class="sidebar__workspace-info">
      <img class="sidebar__workspace-logo" src="assets/logo/Workspace logo.png" alt="Workspace Logo" />

      <span>Devspace</span>
    </div>

    <button class="sidebar__edit-btn" type="button" (click)="openNewMessageView()">
      <img src="assets/icons/edit_square.png" alt="Edit" />
    </button>
  </div>

  <section class="sidebar__section">
    <div class="sidebar__section-title">
      <div class="sidebar__section-left">
        <span class="sidebar__chevron" [class.sidebar__chevron--closed]="!isChannelsOpen"
          (click)="toggleSection('channels')">
          <img class="chat-header__arrow" src="assets/icons/keyboard_arrow_down.png" alt="" />
        </span>
        <img src="assets\icons\workspaces.png" alt="workspaces icon" />
        <strong>Channels</strong>
      </div>
      @if(!authService.isGuestUser()){

      <button class="sidebar__add-btn" (click)="openDialog()" type="button">
        <img src="assets\icons\add.png" alt="">
      </button>
      }
    </div>

    @if (isChannelsOpen) {

    <ul class="sidebar__list">
      @for (channel of channelService.channels(); track channel.id) {
      <li class="sidebar__channel" [class.sidebar__item--active]="channelService.currentChannel()?.id === channel.id"
        (click)="selectChannel(channel)">

        <span>#</span>
        {{ channel.name }}
      </li>
      }


      @if (!authService.isGuestUser()) {
      <li class="sidebar__add-channel" (click)="openDialog()">
        <span>⊕</span>
        Channel hinzufügen
      </li>
      }
    </ul>
    }
  </section>

  <section class="sidebar__section">
    <div class="sidebar__section-title">
      <div class="sidebar__section-left">
        <span class="sidebar__chevron" [class.sidebar__chevron--closed]="!isDirectMessagesOpen"
          (click)="toggleSection('directMessages')">
          <img class="chat-header__arrow" src="assets/icons/keyboard_arrow_down.png" alt="" />
        </span>
        <img src="assets/logo/account_circle.png" alt="account circle logo" />
        <strong>Direktnachrichten</strong>
      </div>
    </div>
    @if (isDirectMessagesOpen) {
    <ul class="sidebar__dm-list">
      @for (user of userService.user(); track user.id) {
      <li class="sidebar__dm-item" [class.sidebar__item--active]="direktMessageService.currentDmUser()?.id === user.id"
        (click)="selectDmUser(user)">
        <div class="sidebar__avatar-wrapper">
          <img [src]="user.avatar" [alt]="user.name" />

          <span class="sidebar__status" [class.online]="user.status === 'online'"
            [class.offline]="user.status === 'offline'"></span>
        </div>

        <span>{{ user.name }}</span>
        @if(user.id === authService.currentUser()?.id) {
        <span class="sidebar__you-label"> (Du) </span>
        }
      </li>
      }
    </ul>
    }
  </section>
</aside>